<div class="flex-container">
  <div class="main">
    <h2>Thanks for using our app!</h2>
    {{#if book}}
    <div class="book-details">
      <h3>You Requested: {{book.title}} by {{book.author}}</h3>
      <a class="link-internal" href="/">Home</a>
    </div>
    {{else}}
    <div class="placeholder">
      <h4>We don't have an image for that title yet.</h4>
    </div>
    {{/if}}

    <form class="search-form" action="/add" method="POST">
      <div class="search-input">
        <label for="title">Enter a Title:</label>
        <input type="text" name="title" class="form-control" value="{{book.title}}" placeholder="title" />
        <!-- <label for="author">Enter an Author:</label>
        <input type="text" id="id" class="form-control" placeholder="id" name="id" /> -->
        <!-- <button>Search</button> -->
        <button>{{#if book}}Update{{else}}Add{{/if}}</button>
        <button>Delete</button>
      </div>
    </form>
  </div>
  <footer class="flex-container">
      <span class="copyright">This site and it's contents are &copy; Blake Schwartz, 2016</span>
  </footer>
</div>
