<div class="flex-container">
  <div class="main">
    <h2>Thanks for using our app!</h2>
    {{! loop through the results and display the appropriate results }}
      {{#if result.action}}
        {{#if ../book.delete}}
          <div class="book-details">
            <h3>Deleted - {{book.title}}</h3>
            {{> home-link}}
          </div>
        {{else}}
        <div class="book-details">
          <h3>{{result.action}} - {{book.title}}</h3>
          {{> home-link}}
        </div>
        {{/if}}
      {{else if book.title}}
        <div class="book-details">
          <h3>Edit - {{book.title}}</h3>
          {{> home-link}}
        </div>
      {{/if}}
      {{#if book.title}}
        <form class="search-form" action="/add" method="POST">
          <div class="search-input">
            <label for="title">Enter an ID:</label>
            <input type="text" name="id" class="form-control" value="{{book.id}}" placeholder="id" />
            <label for="title">Enter a Title:</label>
            <input type="text" name="title" class="form-control" value="{{book.title}}" placeholder="title" />
            <label for="author">Enter an Author:</label>
            <input type="text" name="author" class="form-control" value="{{book.author}}" placeholder="title" />
            <button>{{#if book.title}}Update{{else}}Add{{/if}}</button>
            <button>Delete</button>
          </div>
        </form>
      {{/if}}
</div>
<footer class="flex-container">
      <span class="copyright">This site and it's contents are &copy; Blake Schwartz, 2016</span>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous">
</script>
<script type="text/javascript">
  $(document).ready(function(){
    var buttons = $('button');
    buttons.on('click', function(){
      var $this = $(this);
      var action = $this.text().toLowerCase();
      if (action == 'update') {action = 'add'};
      $("form").attr("action", "/" + action);
    });
  });
</script>