<div class="flex-container">
  <div class="main">
    <h2>Thanks for using our app!</h2>
      {{! get all route }}
        {{#if books}}
          <div class="book-details">
            <h3>{{result}} - {{book.title}}</h3>
            <h1>This is the new category!</h1>
            {{> home-link}}
          </div>
        {{else if book.title}}
          {{#if book._id}}
            <div class="book-details">
              <h3>Edit - {{book.title}}</h3>
              <h1>This is the details category!</h1>
              {{> home-link}}
            </div>
          {{else}}
            <div class="book-details">
              <h3>Add New - {{book.title}}</h3>
              <h1>This is the details category!</h1>
              {{> home-link}}
            </div>
          {{/if}}
        {{/if}}
        <!-- {{#if result.Deleted}}
          <div class="book-details">
            <h3>Deleted - {{book.title}}</h3>
            <h1>This is the deleted category!</h1>
            {{> home-link}}
          </div>
        {{/if}} -->
      {{#if book.title}}
        <form class="search-form" action="/add" method="POST">
          <div class="search-input">
            <input type="hidden" name="id" class="form-control" value="{{book._id}}" placeholder="id" />
            <label for="title">Enter a Title:</label>
            <input type="text" name="title" class="form-control" value="{{book.title}}" placeholder="title" />
            <label for="author">Enter an Author:</label>
            <input type="text" name="author" class="form-control" value="{{book.author}}" placeholder="title" />
            <!-- <button>Add</button><button>Update</button> -->
            <button>{{#if book.newBook}}Add{{else}}Update{{/if}}</button>
            <button>Delete</button>
          </div>
        </form>
      {{/if}}
<footer class="flex-container">
      <span class="copyright">This site and it's contents are &copy; Blake Schwartz, 2016</span>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous">
</script>
<script type="text/javascript">
  $(document).ready(function(){
    var buttons = $('button');
    buttons.on('click', function(){
      var $this = $(this);
      var action = $this.text().toLowerCase();
      if (action == 'update') {action = 'add'};
      $("form").attr("action", "/" + action);
    });
  });
</script>
